.footer  {
    background-color: #1ebff046;
    p.copyrite {
        text-align: center;
        font-family: Changa;
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: .8rem;
        color: #8d8d8d;

        a {
            color: #1e2023;
        }
    }
}