<ion-content>
  <nav></nav>

  <main id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="title">
            A propos du Podcast
          </h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="desc">
            Dans ce podcast, nous parlons surtout de la technologie en cours
            dans la communauté africaine, de la façon dont les ingénieurs en
            technologie s'acquittent de leurs activités quotidiennes. Quel
            outil, quel langage et quel framework ils utilisent pour construire
            et designer leurs logiciels.
          </p>
          <p class="desc2">
            Nos invités sont pour la plupart des développeurs et des
            concepteurs. La plupart de nos conférences sont donc techniques et
            nos invités sont principalement basés en Afrique et travaillent dans
            des sociétés de premier plan dans leurs pays respectifs.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </main>
</ion-content>
