<ion-content>
  <nav></nav>
  <main id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="title">
            Laissez-nous un message ici
          </h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imgplusbtn">
            <img src="../../assets/icon/001-whatsapp.svg" alt="thethetechie whatsapp">
            <ion-button id="whatsapp" ><a href="http://www.facebook.com/llamass" target="_blank" rel="noopener noreferrer">Écrivez-nous sur whatsapp</a></ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imgplusbtn">
            <img src="../../assets/icon/002-facebook.svg" alt="thethetechie facebook">
            <ion-button id="facebook"><a href="http://www.facebook.com/llamass" target="_blank" rel="noopener noreferrer">Suivez-nous sur Facebook</a></ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imgplusbtn">
            <img src="../../assets/icon/004-twitter.svg" alt="thethetechie twitter">
            <ion-button id="twitter"><a href="http://www.facebook.com/llamass" target="_blank" rel="noopener noreferrer">Suivez-nous sur Twitter</a></ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imgplusbtn">
            <img src="../../assets/icon/005-instagram.svg" alt="thethetechie instagram">
            <ion-button id="instagram"><a href="http://www.facebook.com/llamass" target="_blank" rel="noopener noreferrer">Suivez-nous sur Instagram</a></ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imgplusbtn">
            <img src="../../assets/icon/003-youtube.svg" alt="thethetechie youtube">
            <ion-button id="youtube"><a href="http://www.facebook.com/llamass" target="_blank" rel="noopener noreferrer">Suivez-nous sur Youtube</a></ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</ion-content>
