<ion-content>
  <nav></nav>
  <main id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="title">
            Laissez-nous un message ici
          </h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imgplusbtn">
            <img src="../../assets/icon/001-whatsapp.svg" alt="thethetechie whatsapp">
            <ion-button id="whatsapp">Écrivez-nous sur whatsapp</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imgplusbtn">
            <img src="../../assets/icon/002-facebook.svg" alt="thethetechie facebook">
            <ion-button id="facebook">Suivez-nous sur Facebook</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imgplusbtn">
            <img src="../../assets/icon/004-twitter.svg" alt="thethetechie twitter">
            <ion-button id="twitter">Suivez-nous sur Twitter</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imgplusbtn">
            <img src="../../assets/icon/005-instagram.svg" alt="thethetechie instagram">
            <ion-button id="instagram">Suivez-nous sur Instagram</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imgplusbtn">
            <img src="../../assets/icon/003-youtube.svg" alt="thethetechie youtube">
            <ion-button id="youtube">Suivez-nous sur Youtube</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </main>
</ion-content>
