*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content};  //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content};  //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content};     //1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content};     //1800px
    }
}

#container {
    padding-left: 4rem;
    padding-right: 4rem;
    @include respond(big-desktop) {
        margin-top: 10rem;
    }
    @include respond(tab-port) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @include respond(phone) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    h1.title {
        margin-top: 8rem;
        margin-bottom: 2rem;
        font-size: 5rem;
        font-weight: 500;
        font-family: Changa;
        color: #000000;
        @include respond(tab-port) {
            font-size: 3rem;
            text-align: center;
        }
        @include respond(phone) {
            font-size: 2rem;
            text-align: center;
        }
    }

    .imgplusbtn {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 1rem;
        @include respond(phone) {
            display: inline-block;
            text-align: center;
        }
        img {
            width: 80px;
        }

        ion-button {
            margin-top: 1rem;
            margin-left: 1.2rem;
            font-family: Changa;
            height: 50px;
            width: 300px;
            @include respond(phone) {
                margin-left: 0px;
            }
        }
        ion-button#whatsapp {
            --background: #00c451;
        }
        ion-button#facebook {
            --background: #235b9e;
        }
        ion-button#twitter{
            --background: #00abe3;;
        }
        ion-button#instagram{
            --background: #2d80a6;
        }
        ion-button#youtube{
            --background: #ff312e;
        }
    }
}