<header class="container">
  <a href="/"  class="brand"><img
      src="../../assets/logo/Brand.png"
      srcset="
        ../../assets/logo/Brand@2x.png 2x,
        ../../assets/logo/Brand@3x.png 3x
      "
      alt="logo de thetechie"
     
    />
  </a>
  <input type="checkbox" class="menu-btn"  id="menu-btn">
  <label for="menu-btn" class="menu-icon"><span class="nav-icon"></span></label>
    <ul class="menu">
      <li class="items"><a class="items-link" href="#">Home</a></li>
      <li class="items"><a class="items-link" href="#">About</a></li>
      <li id="space-right" class="items"><a class="items-link" href="#">Contact</a></li>
    </ul>
</header>
