<ion-content>
  <nav></nav>
  <main id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <section class="audio">
            <h4 class="little-title">Lire le podcast</h4>
            <figure id="episode-audio">
              <figcaption id="episode-number">Episode 00</figcaption>
              <audio
                  controls
                  src="../../assets/audio/Overtime.mp3">
                      Your browser does not support the
                      <code>audio</code> element.
              </audio>
            </figure>
          </section>
          <section class="description">
            <div class="audio-desc">
              <h4 class="little-tittle">
                Description
              </h4>
              <p class="desc">
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled  it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </p>
            </div>
            <div class="audio-links-sponsors">
              <h4 class="little-tittle">
                Liens utiles
              </h4>
              <a href="#" target="_blank" class="links-item">Laravel.com <span id="special-color">(sponsors)</span></a>
              <a href="#" target="_blank" class="links-item">Laravel.com <span id="special-color">(sponsors)</span></a>
              <a href="#" target="_blank" class="links-item">Laravel.com <span id="special-color">(sponsors)</span></a>
              <a href="#" target="_blank" class="links-item">Laravel.com <span id="special-color">(sponsors)</span></a>
            </div>
            <div class="audio-links-sponsors">
              <h4 class="little-tittle">
                Les meilleurs choix
              </h4>
              <a href="#" target="_blank" class="links-item"><span id="special-color">Sponsor shoutout:</span>Laravel (Lorentz)</a>
              <a href="#" target="_blank" class="links-item"><span id="special-color">Sponsor shoutout:</span>Laravel (Lorentz)</a>
              <a href="#" target="_blank" class="links-item"><span id="special-color">Sponsor shoutout:</span>Laravel (Lorentz)</a>
              <a href="#" target="_blank" class="links-item"><span id="special-color">Sponsor shoutout:</span>Laravel (Lorentz)</a>
              <a href="#" target="_blank" class="links-item"><span id="special-color">Sponsor shoutout:</span>Laravel (Lorentz)</a>
              <a href="#" target="_blank" class="links-item"><span id="special-color">Sponsor shoutout:</span>Laravel (Lorentz)</a>
            </div>
          </section>
        </ion-col>
        <ion-col>
          <section class="episode-numbering">
            <p class="numbering">
              Ep. 00
            </p>
            <p class="title-episode">
              Episode Tittle
            </p>
            <p class="episode-date">
              23 Mai 2020
            </p>
            <ion-button color="primary">Télécharger</ion-button>
          </section>
          <section class="guest-host">
            <div class="guest">
              <h4 class="guest-title">
                Guest
              </h4>
              <figure class="guest-img">
                <img src="../../assets/illustrations/picture.jpg" alt="guest picture">
              </figure>
              <p class="name">Konwo lorentz</p>
              <div class="social-media-link">
                <a href="#" class="facebook-link"><img src="../../assets/icon/001-whatsapp.svg" alt="whatsapp contact" width="45" ></a>
                <a href="#" class="facebook-link"><img src="../../assets/icon/002-facebook.svg" alt="facebook contact" width="45" ></a>
                <a href="#" class="facebook-link"><img src="../../assets/icon/003-youtube.svg" alt="youtube contact" width="45" ></a>
                <a href="#" class="facebook-link"><img src="../../assets/icon/004-twitter.svg" alt="Twitter contact" width="45" ></a>
                <a href="#" class="facebook-link"><img src="../../assets/icon/005-instagram.svg" alt="instagram contact" width="45" ></a>
              </div>
              <p class="desc">
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled  it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </p>
            </div>
            <div class="guest">
              <h4 class="guest-title">
                Your host
              </h4>
              <figure class="guest-img">
                <img src="../../assets/illustrations/picture.jpg" alt="guest picture">
              </figure>
              <p class="name">Konwo lorentz</p>
              <div class="social-media-link">
                <a href="#" class="facebook-link"><img src="../../assets/icon/001-whatsapp.svg" alt="whatsapp contact" width="45" ></a>
                <a href="#" class="facebook-link"><img src="../../assets/icon/002-facebook.svg" alt="facebook contact" width="45" ></a>
                <a href="#" class="facebook-link"><img src="../../assets/icon/003-youtube.svg" alt="youtube contact" width="45" ></a>
                <a href="#" class="facebook-link"><img src="../../assets/icon/004-twitter.svg" alt="Twitter contact" width="45" ></a>
                <a href="#" class="facebook-link"><img src="../../assets/icon/005-instagram.svg" alt="instagram contact" width="45" ></a>
              </div>
              <p class="desc">
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled  it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </p>
            </div>
          </section>
        </ion-col>
      </ion-row>
    </ion-grid>
  </main>
</ion-content>
