*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content};  //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content};  //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content};     //1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content};     //1800px
    }
}

#container {
    padding-left: 4rem;
    padding-right: 4rem;
    @include respond(big-desktop) {
        margin-top: 10rem;
    }
    @include respond(tab-port) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @include respond(phone) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
#container {
    font-family: Changa;
    
    .text-side {
        width: 700px;
        margin-top: 8em;
        @include respond(tab-port) {
            width: auto;
        }
        @include respond(phone) {
            width: auto;
        }
        h1.text-title {
            font-size: 50px;
            font-weight: 600;
            @include respond(tab-port) {
                font-size: 25px;
                text-align: center;
                margin-bottom: 1rem;
            }
            @include respond(phone) {
                font-size: 25px;
                text-align: center;
                margin-bottom: 1rem;
            }
        }
        p.text-desc {
            font-size: 25px;
            font-weight: 300;
            line-height: 1.84;
            color: #575751;
            @include respond(tab-port) {
                font-size: 20px;
                text-align: center;
                margin-bottom: 1rem;
            }
            @include respond(phone) {
                font-size: 20px;
                text-align: center;
                margin-bottom: 1rem;
            }
        }

        .podcast {
            &-site {
                margin-top: 1rem;
            }
            &-apps {
                margin-top: .8rem;
                
                a {
                    margin-right: 1rem;
                }
            }
        }
    }

    .col-img {
        @include respond(tab-port) {
            display: none;
        }
        @include respond(phone) {
            display: none;
        }
    }

    .illustration {
        margin-left: 10em;
        @include respond(tab-port) {
            display: none;
        }
        @include respond(phone) {
            display: none;
        }
        img {
            width: 677px;
            height: 525px;
            @include respond(tab-port) {
                display: none;
            }
            @include respond(phone) {
                display: none;
            }
        }
    }

    .newsletter {
        margin-bottom: 4em;
        @include respond(tab-port) {
            margin: 0 auto;
        }
        @include respond(phone) {
            margin-bottom: 1em;
        }
        ion-label {
            font-size: 25px;
            color: #575751;
            @include respond(tab-port) {
               font-size: 18px;
               text-align: center;
            }
            @include respond(phone) {
                font-size: 18px;
            }
        }

        input {
            height: 60px;
            width: 600px;
            border: 1px solid #575751;
            border-radius: 6px;
           // background-color: rgba(30, 191, 240, 0.158);
            font-size: 25px;
            padding-left: 10px;
            margin-right: 10px;
            @include respond(tab-port) {
                font-size: 18px;
                height: 50px;
                width: 350px;
                padding-left: 5px;
                margin-right: 5px;
             }
             @include respond(phone) {
                 font-size: 16px;
                 height: 40px;
                 width: 250px;
                 padding-left: 5px;
                 margin-right: 5px;
             }
        }

        ion-button {
            width: 130px;
            height: 58px;
            // margin-top: -16px;
            font-size: 22px;
            font-weight: 500;
            text-transform: initial;
            @include respond(tab-port) {
                font-size: 16px;
                height: 50px;
                width: 90px;
                font-family: Changa;
            }
            @include respond(phone) {
                font-size: 16px;
                height: 40px;
                width: 79px;
                font-family: Changa;
            }
        }
    }

    .little-title {
        margin-bottom: 2em;
        h4.text-small {
            font-family: Changa;
            font-size: 25px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.83;
            letter-spacing: normal;
            text-align: left;
            color: #575751;
            @include respond(tab-port) {
                margin-top: 2rem;
                font-size: 18px;
            }

            @include respond(phone) {
                font-size: 16px;
            }
        }
    }
    
    .card-items { 
        width: auto;
        padding-bottom: 1.5em;
        margin: 0 auto;
        ion-card {
            padding: 2em;
            font-family: Changa;
            img {
                margin-right: 1em;
            }
        }
        .card-head {
            //display: flex;
         //   flex-direction: row;

            .content {
                margin-top: -10px;

                p.count, .tools {
                    font-size: 20px;
                    color: #1e2023;
                    font-weight: 200;
                    @include respond (phone) {
                        font-size: 16px;
                    }
                }

                p.title {
                    font-size: 25px;
                    color: #1ebff0;
                    font-weight: 500;
                    @include respond (phone) {
                        font-size: 18px;
                    }
                }
            }
        }

        ion-card-content {
            padding-top: 1em;
            padding-bottom: 1em;
            font-size: 18px;
            color: #575751;
            @include respond (phone) {
                font-size: 16px;
            }
        }

        ion-button {
            @include respond (phone) {
               font-family: Changa;
               border-radius: 3px;
            }
        }
    }

}

