<ion-content>
  <nav></nav>
  <main id="container">
    <ion-grid>
      <!-- top row -->
      <ion-row>
        <ion-col>
          <div class="text-side">
            <h1 class="text-title">
              Le Podcast du Code, Design et Productivité.
            </h1>
            <p class="text-desc">
              The Techie c'est le recits des pro du code qui nous parle de les
              debuts dans le monde de la programation et du design en afrique et
              dans le monde.
            </p>
            <h2 class="podcast-site">
              Écoutez-nous aussi ici
            </h2>
            <div class="podcast-apps">
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><img
                  src="../../assets/icon/Google_Podcasts_Logo.png"
                  width="60"
                  height="60"
                  alt="thetechie google podacst link"
              /></a>
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><img
                  src="../../assets/icon/podcast.svg"
                  width="60"
                  height="60"
                  alt="thetechie apple podacst link"
              /></a>
            </div>
          </div>
         
        </ion-col>
        <ion-col class="col-img">
          <div pull="right" class="illustration">
            <img
              src="../../assets/illustrations/podcast.svg"
              alt="illustration of thetechies iistening to an episode"
            />
          </div>
        </ion-col>
      </ion-row>
      <!-- middle row for submit your email for the newsletter -->
      <ion-row>
        <div class="newsletter">
          <div>
            <ion-label>Souscrit a notre Newsletter.</ion-label>
          </div>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Laissez votre mail!"
          />
          <ion-button>Envoyer</ion-button>
        </div>
      </ion-row>
      <!-- loading episode row -->
      <ion-row>
        <div class="little-title">
          <h4 class="text-small">Latest episode</h4>
        </div>
      </ion-row>
      <ion-row>
        <div class="card-items" *ngFor="let episode of episodes">
          <ion-card>
            <div class="card-head">
              <div class="content">
                <p class="count">Ep. {{ episode.fields.episodeNumber }}</p>
                <p class="title">{{ episode.fields.episodeTitle }}</p>
                <p class="tools">{{ episode.fields.toolUse }}</p>
                <p class="date">{{ episode.fields.episodeDate }}</p>
              </div>
            </div>
            <ion-card-content>
              {{ episode.fields.shortDescription }}
            </ion-card-content>
            <ion-button expand="full" (click)="gotoEpisode(episode.sys.id)"
              >Lire</ion-button
            >
          </ion-card>
        </div>
      </ion-row>
    </ion-grid>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</ion-content>
