<ion-content>
  <nav></nav>
  <main id="container">
    <ion-grid>
      <!-- top row -->
      <ion-row>
        <ion-col>
          <div class="text-side">
            <h1 class="text-title">
              Le Podcast du Code, Design et Productivité.
            </h1>
            <p class="text-desc">
              Thetekkie c'est le recits des pro du code qui nous parle de les
              debuts dans le monde de la programation et du design en afrique et
              dans le monde.
            </p>
            <h2 class="podcast-site">
              Écoutez-nous aussi ici
            </h2>
            <div class="podcast-apps">
              <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy80ZTBhNzc4MC9wb2RjYXN0L3Jzcw==" target="_blank" rel="noopener noreferrer"
                ><img
                  src="../../assets/icon/Google_Podcasts_Logo.png"
                  width="60"
                  height="60"
                  alt="thetechie google podacst link"
              /></a>
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><img
                  src="../../assets/icon/podcast.svg"
                  width="60"
                  height="60"
                  alt="thetechie apple podacst link"
              /></a>
              <a href="https://anchor.fm/thetekkie" target="_blank" rel="noopener noreferrer"
              ><img
                src="../../assets/icon/anchor.jpg"
                width="60"
                height="60"
                alt="thetechie anchor podacst link"
            /></a>
            <a href="https://www.breaker.audio/thetekkie" target="_blank" rel="noopener noreferrer"
            ><img
              src="../../assets/icon/breaker.png"
              width="60"
              height="60"
              alt="thetechie breaker podacst link"
          /></a>
          <a href="https://pca.st/ykesfj0y" target="_blank" rel="noopener noreferrer"
          ><img
            src="../../assets/icon/pocket-casts.svg"
            width="60"
            height="60"
            alt="thetechie pocket-casts podacst link"
        /></a>
        <a href="https://open.spotify.com/show/6R4XIAbU1maltOwpfhsBoC" target="_blank" rel="noopener noreferrer"
        ><img
          src="../../assets/icon/spotify.svg"
          width="60"
          height="60"
          alt="thetechie spotify podacst link"
      /></a>
      <a href="https://radiopublic.com/thetekkie-6Vr35E" target="_blank" rel="noopener noreferrer"
      ><img
        src="../../assets/icon/radiopublic.png"
        width="60"
        height="60"
        alt="thetechie republicradio podacst link"
    /></a>
            </div>
          </div>
         
        </ion-col>
        <ion-col class="col-img">
          <div pull="right" class="illustration">
            <img
              src="../../assets/illustrations/podcast.svg"
              alt="illustration of thetechies iistening to an episode"
            />
          </div>
        </ion-col>
      </ion-row>
      <!-- middle row for submit your email for the newsletter -->
      <!-- <ion-row>
        <div class="newsletter">
          <div>
            <ion-label for="email">Souscrit a notre Newsletter.</ion-label>
          </div>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Laissez votre mail!"
          />
          <ion-button>Envoyer</ion-button>
        </div>
      </ion-row> -->
      <!-- loading episode row -->
      <ion-row>
        <div class="little-title">
          <h4 class="text-small">Latest episode</h4>
        </div>
      </ion-row>
      <ion-row>
        <div class="card-items" *ngFor="let episode of episodes">
          <ion-card>
            <div class="card-head">
              <div class="content">
                <p class="count">Ep. {{ episode.fields.episodeNumber }}</p>
                <p class="title">{{ episode.fields.episodeTitle }}</p>
                <p class="tools">{{ episode.fields.toolUse }}</p>
                <p class="date">{{ episode.fields.episodeDate }}</p>
              </div>
            </div>
            <ion-card-content>
              {{ episode.fields.shortDescription }}
            </ion-card-content>
            <ion-button expand="full" (click)="gotoEpisode(episode.sys.id)"
              >Lire</ion-button
            >
          </ion-card>
        </div>
      </ion-row>
    </ion-grid>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</ion-content>
